<h1>Create a comment for a post</h1>

<%= form_with model: @comment, url: user_post_comments_path do |form| %>
  <div>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </div>
  <div>
    <%= form.submit "Create Comment" %>
  </div>
<% end %>