<!DOCTYPE html>
<html>
  <head>
    <title>A User's full post</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <h1> A user's full post with all comments</h1>
  </body>
</html>